{
    "presets": ["react", "env"],
    "plugins": [
        "transform-class-properties",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "Test": "./test",
                    "Components": "./src/components",
                    "Containers": "./src/containers",
                    "Styles": "./src/styles",
                    "Img": "./assets/img"
                }
            }
        ]
    ]
}
